@page
@model Day_8.Pages.Company.UpdateModel
@{
}
<div class="container">
	<form method="post" >
		<div asp-validation-summary="All"></div>
		<div class="form-group">
			<label hidden asp-for="@Model.Instructor.InsId" class="form-label mt-4">Id</label>
			<input hidden asp-for="@Model.Instructor.InsId" class="form-control" />
		</div>
		<div class="form-group">
			<label asp-for="@Model.Instructor.InsName" class="form-label mt-4">Name</label>
			<input asp-for="@Model.Instructor.InsName" class="form-control" />
			<span asp-validation-for="@Model.Instructor.InsName" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.Instructor.InsDegree" class="form-label mt-4">Degree</label>
			<input asp-for="@Model.Instructor.InsDegree" class="form-control" />
			<span asp-validation-for="@Model.Instructor.InsDegree" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.Instructor.DeptId" class="form-label mt-4">Department</label>
			<select asp-for="@Model.Instructor.DeptId" asp-items="@ViewBag.Department" class="form-select"></select>
			<span asp-validation-for="@Model.Instructor.InsDegree" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="@Model.Instructor.Salary" class="form-label mt-4">Salary</label>
			<input asp-for="@Model.Instructor.Salary" class="form-control" />
			<span asp-validation-for="@Model.Instructor.Salary" class="text-danger"></span>
		</div>
		<button class="btn btn-outline-primary" type="submit">Create</button>
	</form>
</div>